
.subheader{
    background-color: #7bd12a;
    height: 80px;
    width: 100%;
    padding-left: 80%;
}
img{
    width: 330px;
    height: 300px;

}
#product-list{

    text-align:center;
     background-color:#7bd12a;

}

#sidebar{
    background-color:#7bd12a;

}




